// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html{
  background: #f3f3f3 !important;
}

.horizontal {
  border-top: 1px solid #000000;
}
.footer__links {
  padding-left: 50px !important;
  a {
    color: #555555 !important
  }
  .footer__links-link {
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    width: 22%;
  }
  .men {
    text-align: center;
  }
  .women {
    text-align: center;
    
  } 

  .headwear {
    text-align: end;
  }

}

.social__link-icon {
  width: 32px;
}



