// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html{
  background: #f3f3f3 !important;
}

.horizontal {
  border-top: 1px solid #000000;
}

@media only screen and (max-width: 425px) {
  table.body .columns {
    padding-left: 28px !important;
  }
 
}
.footer__links {
 
  padding-left: 50px !important;
  a {
    color: #555555 !important;
  }

  .footer__links-link {
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px ;
    width: 22%;
    @media only screen and (max-width: 425px) {
      font-size: 11px ;
    }
    @media only screen and (max-width: 375px) {
      font-size: 8px ;
    }
  }
  .men {
    text-align: center;
  }
  .women {
    text-align: center;
    
  } 

  .headwear {
    text-align: end;
  }

}

.facebook {
  position: relative;
  left: 38px;
}

.instagram {
  position: relative;
  right: 38px;
}
.social__link-icon {
  width: 32px !important;
}

.policy__info {
  p {
    font-size: 11px;
    text-align: center;
    @media only screen and (max-width: 425px) {
      font-size: 9px ;
    }
  }
  .link {
    color: #000000;
    text-decoration: underline;
  }
}



