<container>
    <!-- Horizontal Line -->
    <row>
      <columns class="horizontal">
      </columns>
    </row>
</container>
<!-- Footer Links -->
<container>
    <row>
        <columns class="footer__links" large="12" small="12">
            <span  >
                <a href="{{data.newreleases.link}}" class="footer__links-link">
                    {{data.newreleases.title}}
                </a>
            </span>
            <span>
                <a href="{{data.men.link}}" class="footer__links-link men">
                    {{data.men.title}}
                </a>
            </span>
            <span  >
                <a href="{{data.women.link}}" class="footer__links-link women">
                    {{data.women.title}}
                </a>
            </span>
            <span  >
                <a href="{{data.headwear.link}}" class="footer__links-link headwear">
                    {{data.headwear.title}}
                </a>
            </span>
        </columns>      
    </row>
</container>
<container>
    <!-- Horizontal Line -->
    <row style="margin-bottom: 12px;">
      <columns class="horizontal">
      </columns>
    </row>
</container>

<!-- Social Links -->
<container>
    <row>
        <columns></columns>
        <columns class="social__links"  large="4" small="4">
                
                <a href="{{data.facebook.link}}" class="social__link">
                    <img src="{{data.facebook.image}}" alt="facebook" class="social__link-icon float-right">
                </a>

        </columns>
            <columns class="social__links"  large="4" small="4"> 
                <a href="{{data.twitter.link}}" class="social__link">
                    <img src="{{data.twitter.image}}" alt="facebook" class="social__link-icon float-center">
                </a>
            </columns> 
           
           <columns class="social__links"  large="4" small="4">
            <a href="{{data.instagram.link}}" class="social__link">
                <img src="{{data.instagram.image}}" alt="facebook" class="social__link-icon">
            </a>
        </columns>
        <columns></columns>     
    </row>
</container>

 