<container>
    <!-- Horizontal Line -->
    <row>
      <columns class="horizontal">
      </columns>
    </row>
</container>
<!-- Footer Links -->
<container>
    <row>
        <columns class="footer__links" large="12" small="12">
            <span  >
                <a href="{{data.newreleases.link}}" class="footer__links-link">
                    {{data.newreleases.title}}
                </a>
            </span>
            <span>
                <a href="{{data.men.link}}" class="footer__links-link men">
                    {{data.men.title}}
                </a>
            </span>
            <span  >
                <a href="{{data.women.link}}" class="footer__links-link women">
                    {{data.women.title}}
                </a>
            </span>
            <span  >
                <a href="{{data.headwear.link}}" class="footer__links-link headwear">
                    {{data.headwear.title}}
                </a>
            </span>
        </columns>      
    </row>
</container>
<container>
    <!-- Horizontal Line -->
    <row>
      <columns class="horizontal">
      </columns>
    </row>
</container>

 